<%= form_for(profile,
            :remote => true,
            :url => update_photo_profile_path(profile)) do |f| %>
  <h2>Crop picture:</h2>
  <fieldset>
    <%= image_tag profile.avatar.url(:normal), :id => "cropbox-#{profile.id}" %>

    <%= f.hidden_field :crop, :id => 'crop' %>
    <%= f.hidden_field :crop_x, :id => 'crop_x' %>
    <%= f.hidden_field :crop_y, :id => 'crop_y' %>
    <%= f.hidden_field :crop_w, :id => 'crop_w' %>
    <%= f.hidden_field :crop_h, :id => 'crop_h' %>

    <br />
    <%= submit_tag 'crop now' %>
  </fieldset>
<% end %>


<script type="text/javascript">
  function showPreview(coords){
    	var ratio = <%= profile.avatar_geometry(:original).width / profile.avatar_geometry(:normal).width %>;

      $('#crop_x').val(Math.round(coords.x * ratio));
      $('#crop_y').val(Math.round(coords.y * ratio));
      $('#crop_w').val(Math.round(coords.w * ratio));
      $('#crop_h').val(Math.round(coords.h * ratio));
  }

  $(function(){
      $('#' + '<%= "cropbox-#{profile.id}" %>').Jcrop({
          onSelect: showPreview,
          onChange: showPreview,
          setSelect: [ 0, 0, <%= profile.req_width %>, <%= profile.req_height %> ],
          aspectRatio: <%= profile.req_width %>/<%= profile.req_height %>
      });
  });
</script>
